body, html {
  height:100%;
}

body{
  font-family: 'Josefin Sans', sans-serif;  
  margin:auto;
  
  }

.bg {
  background-image: url(/assets/images/business-travel-bg.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#collapsibleNavbar a{
    color:white;
   
     }

.navbar {
    background-color:#07050a;
    opacity: 0.7;
    
     }



.navbar-nav {
    text-align: center;
}

.nav-link {
padding: 0;
}
