

body{
  font-family: 'Trebuchet MS';  
  margin:auto;
  
  }

.bg-container {
background-image: radial-gradient(rgba(249, 238, 238, 0.91),
            rgba(152, 142, 142, 0.04)),
        url(../images/business-travel-bg.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  border-radius: 10% 10% 30% 80% / 0% 0% 59% 21% ;
}

/*NavBar Styling for both index and contact page*/
#collapsibleNavbar a{
    color:white;
   
     }

.navbar {
    background-color:#07050a;
    opacity: 0.7;
    
     }



.navbar-nav {
    text-align: center;
}

.nav-link {
padding: 0;
}

/*END - NavBar Styling for both index and contact page*/

/*Contact Page Styling*/

.contact-container{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.signup-form {
  margin-top: 3%;
  color: #fff;
  background-color:#738591;
  width:60%;
  opacity: 0.8;
  position: absolute;
  left: 15%;
  padding: 3% 3%;
  
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.signup-form h2{
  color: #fafafa;
  margin-bottom: 2%;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.text-input {
  color:black;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  bottom: 20px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.text-input:hover{
  border-color:#f16c6b;
}

/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.join-button {
  border-radius: 12px;
  padding:2% 2% 2% 2%;
  font-size: 100%;
  background-color: #f7c04b;
  color: black;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.join-button:hover{
  background-color: #fafafa;
  color: #f16c6b;
}

/*END - Contact Page Styling*/

/*Index Page Styling*/

.index-header{
    text-align: center;
    color:black;
    padding-top:3%;
}
.instructions{
  
  text-align: center;
  color:black;
   }
.card-body{
    background-color: rgb(199, 198, 198);
    color: azure;
    padding: 1%;
}

.card{
margin-top: 3%;
text-align: center;
}
.dropdown-toggle{
color: white;
font-size: 150%;
}

.btn-group{
  margin-top: 1%;
  font-size: 100%;
  height: 50px;   
}

.btn-main { 
 background-color: #f7c00f; 
 color: #020202; 
 font-weight: 400; 
} 

.btn-main:hover { 
 background-color: #d0a417; 
 font-weight: bold; 
} 

.site-details{
    background-color: #ccc;
    width: 100%;
}

.site-details img{
width:200px;
height:98px;
}

.site-display{
padding-left: 0%;
padding-right: 0%;
}

#map {
  height: 400px;
  width: 100%;
}

.listing {
  position: absolute;
  width: 230px;
  height: 400px;
  overflow: auto;
  top: 0%;
  cursor: pointer;
  overflow-x: hidden;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
  border-collapse: collapse;
  width: 230px;
}


.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: left;
}

.iw_table_icon {
  text-align: left;
}

#latlng-details{
    visibility: hidden;
}

#controls{
    visibility: hidden;
}

/*Footer Styling on Index Page*/

#my_footer {
    background-color: rgb(37, 37, 32);
    width:100%;
    color: white;
	text-align: center;
}

#copyright {
	margin-top:10px;
	margin-bottom:10px;
}

/*END - Footer Styling on Index Page*/

