

body{
  font-family: 'Josefin Sans', sans-serif;  
  margin:auto;
  
  }

.bg-container {
background: url(../images/business-travel-bg.jpeg) no-repeat center center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#collapsibleNavbar a{
    color:white;
   
     }

.navbar {
    background-color:#07050a;
    opacity: 0.7;
    
     }



.navbar-nav {
    text-align: center;
}

.nav-link {
padding: 0;
}

.contact-container{
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.signup-form {
  margin-top: 3%;
  color: #fff;
  background-color:#738591;
  width:60%;
  opacity: 0.8;
  position: absolute;
  left: 15%;
  padding: 3% 3%;
  
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.signup-form h2{
  color: #fafafa;
  margin-bottom: 2%;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.text-input {
  color:black;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  bottom: 20px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.text-input:hover{
  border-color:#f16c6b;
}

/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.join-button {
  border-radius: 12px;
  padding:2% 2% 2% 2%;
  font-size: 100%;
  background-color: #f7c04b;
  color: black;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.join-button:hover{
  background-color: #fafafa;
  color: #f16c6b;
}

#index-header{
    text-align: center;
    color:dark grey;
    padding-top:1%;
}

.btn-group{
  padding:2% 2% 2% 2%;
  font-size: 100%;   
}

#autocomplete{
    width: 60%;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

#map {
  height: 400px;
  width: 100%;
}

.listing {
  position: absolute;
  width: 200px;
  height: 250px;
  overflow: auto;
  top: 80%;
  cursor: pointer;
  overflow-x: hidden;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
  border-collapse: collapse;
  width: 240px;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}



.map-container{
    margin-top:1%;
   margin-left:2%;
   margin-right:2%;
}

#latlng-details{
    visibility: hidden;
}

#controls{
    visibility: hidden;
}

.image-1 img {
  opacity: 1.0;
 
}

.image-1 img:hover {
  opacity: 0.7;
  width: fit-content;
}

.image-2 img {
  opacity: 1.0;
 
}

.image-2 img:hover {
  opacity: 0.7;
  width: fit-content;
}

.image-3 img {
  opacity: 1.0;
 
}

.image-3 img:hover {
  opacity: 0.7;
  width: fit-content;
}

.image-4 img {
  opacity: 1.0;
 
}

.image-4 img:hover {
  opacity: 0.7;
  width: fit-content;
}

.image-5 img {
  opacity: 1.0;
 
}

.image-5 img:hover {
  opacity: 0.7;
  width: fit-content;
}

.image-6 img {
  opacity: 1.0;
 
}

.image-6 img:hover {
  opacity: 0.7;
  width: fit-content;
}


#my_footer {
	width:100%;
	text-align: center;
}

#copyright {
	margin-top:10px;
	margin-bottom:10px;
}
 .MultiCarousel { 
    float: left; 
    overflow: hidden; 
    padding: 5px; 
    width: 100%; 
    position:relative; 
    }
  .MultiCarousel .MultiCarousel-inner { 
      transition: 1s ease all; 
      float: left; 
    }
    
  .MultiCarousel .MultiCarousel-inner .item {
        float: left;
        }

  .MultiCarousel .MultiCarousel-inner .item > div { 
    text-align: center; 
    padding:0px; 
    margin:5px; 
    background:#f1f1f1; 
    color:#666;
  }
  .MultiCarousel .leftLst, .MultiCarousel .rightLst { 
    position:absolute; 
    border-radius:50%;
    top:calc(50% - 20px); 
  }
  .MultiCarousel .leftLst { 
      left:0; 
    }
.MultiCarousel .rightLst { 
  right:0; 
  }
    
.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { 
  pointer-events: none; 
  background:#ccc; 
}