body, html {
  height:100%;
}

body{
  font-family: 'Josefin Sans', sans-serif;  
  margin:auto;
  
  }

.bg-container {
  background-image: url(/assets/images/business-travel-bg.jpeg);
  height: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


#collapsibleNavbar a{
    color:white;
   
     }

.navbar {
    background-color:#07050a;
    opacity: 0.7;
    
     }



.navbar-nav {
    text-align: center;
}

.nav-link {
padding: 0;
}

.contact-container{
background-image: url(/assets/images/business-travel-bg.jpeg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.signup-form {
  margin-top: 3%;
  color: #fff;
  background-color:#738591;
  width:60%;
  opacity: 0.8;
  position: absolute;
  left: 15%;
  padding: 3% 3%;
  
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.signup-form h2{
  color: #fafafa;
  margin-bottom: 2%;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.text-input {
  color:black;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  bottom: 20px;
  border: 1px solid #fafafa;
  border-radius: 2px;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.text-input:hover{
  border-color:#f16c6b;
}

/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.join-button {
  border-radius: 12px;
  padding:2% 2% 2% 2%;
  font-size: 100%;
  background-color: #f7c04b;
  color: black;
}
/*Copied from 'Love Running' tutorial, and taylored to meet my requirements*/
.join-button:hover{
  background-color: #fafafa;
  color: #f16c6b;
}

#map {
  height: 400px;
  width: 100%;
}


.hotel-search {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 33%;
  position: absolute;
  top: 33%;
  width: 400PX;
 
}


#findhotels {
  font-size: 14px;
}

#locationField {
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#controls {
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
}

#autocomplete {
  width: 100%;
}

#country {
  width: 100%;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}


#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}